.cast-container {
  //   height: 200px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  overflow: hidden;
  align-items: center;
  font-size: 12px;
  margin-top: 0px;
  margin-bottom: 10px;
}

.img-container {
  border-radius: 10px;
  margin: 10px;
  object-fit: contain;
  overflow: hidden;

  box-shadow: 0px 0px 5px black;
}
