@import "../../common/Color.scss";
.footer {
  background: $secondary-color;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $font-primary;
  flex-direction: row;
  gap: 50px;
  width: 100%;
  position: fixed;
  bottom: 0;
  text-decoration: none;
}

.tab {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  flex-direction: column;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.footer_menu {
  font-size: 15px;
}

@media (max-width: 845px) {
  .footer_menu {
    font-size: 10px;
  }
}
