.search-overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  margin: 50px;
  display: flex;
  flex-direction: column;
}

.close-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  background-color: white;
  cursor: pointer;
}

//Serach box CSS
.search {
  width: 500px;
  height: 40px;
  margin: 0px auto;
  background: #444;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  border: 1px solid #fff;

  input {
    width: 360px;
    padding: 10px 5px;
    float: left;
    color: #ccc;
    border: 0;
    background: transparent;
    border-radius: 3px 0 0 3px;
    &:focus {
      outline: 0;
      background: transparent;
    }
  }

  button {
    position: relative;
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 40px;
    width: 120px;
    color: #fff;
    background: transparent;
    border-left: 1px solid #fff;
    border-radius: 0 3px 3px 0;
    &:hover {
      background: #fff;
      color: #444;
    }
    &:active {
      box-shadow: 0px 0px 12px 0px rgba(225, 225, 225, 1);
    }
    &:focus {
      outline: 0;
    }
  }
}

//Search ends------------------------------------------------

.list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
  margin-top: 50px;
}

@media (max-width: "835px") {
  .list-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 50px;
  }
  .overlay-content {
    margin: 20px;
    display: flex;
    flex-direction: column;
  }

  .search {
    width: 250px;
    height: 40px;
    margin: 0px auto;
    background: #444;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    border: 1px solid #fff;

    input {
      width: 160px;
      padding: 10px 5px;
      float: left;
      color: #ccc;
      border: 0;
      background: transparent;
      border-radius: 3px 0 0 3px;
      &:focus {
        outline: 0;
        background: transparent;
      }
    }
    button {
      position: relative;
      float: right;
      border: 0;
      padding: 0;
      cursor: pointer;
      height: 40px;
      width: 80px;
      color: #fff;
      background: transparent;
      border-left: 1px solid #fff;
      border-radius: 0 3px 3px 0;
      &:hover {
        background: #fff;
        color: #444;
      }
      &:active {
        box-shadow: 0px 0px 12px 0px rgba(225, 225, 225, 1);
      }
      &:focus {
        outline: 0;
      }
    }
  }
}
