@import "../src/common/Color.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
a {
  text-decoration: none;
}

body {
  background: $primary-color;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
.container {
  margin: 0px 20px;
}

::-webkit-scrollbar {
  display: none;
  /* make scrollbar transparent */
}

::selection {
  color: none;
  background: none;
}
